.menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    background: var(--bg-popups);
    z-index: var(--popups-z-index);
}

.item {
    width: 100%;
    padding: 10px 25px;
    border: none;
    background: none;
    color: var(--primary-color);
    cursor: pointer;
    outline: none;
}

.isOpen{
    transform: rotate(180deg);
}

