.title {
    &.s{
        font: var(--font-s)
    }

    &.m{
        font: var(--font-m)
    }

    &.l{
        font: var(--font-l)
    }

    &.xl{
        font: var(--font-xl)
    }

    &.normal{
        font-weight: var(--font-weight-normal)
    } 

    &.medium{
        font-weight: var(--font-weight-medium)
    } 

    &.bold{
        font-weight: var(--font-weight-semi-bold)
    } 

    &.error {
        color: var(--color-signal-negative-default);
    }

    &.accent{
        color: var(--color-accent);
    }
}

.text {
    &.haveTitle{
        margin-top: 8px
    }

    &.s{
        font: var(--font-s)
    }

    &.m{
        font: var(--font-m)
    }

    &.l{
        font: var(--font-l)
    }

    &.xl{
        font: var(--font-xl)
    }

    &.normal{
        font-weight: var(--font-weight-normal)
    } 
    
    &.medium{
        font-weight: var(--font-weight-medium)
    } 

    &.bold{
        font-weight: var(--font-weight-semi-bold)
    } 

    &.error {
        color: var(--color-signal-negative-default);
    }

    &.accent{
        color: var(--color-accent);
    }
}


.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}
