.icon{
      fill: transparent;
      stroke: var(--color-accent);
      transition-property: all;
      transition-duration: var(--transition-duration);
      transition-timing-function: var(--transition-timing-function);
  
        &.userBookmark{
          fill: var(--color-accent);
        }
  }
  
  
  