@import "reset";
@import "variables/global";
@import "themes/normal";
@import "themes/dark";

.app {
    min-height: 100vh;
    background: var(--bg-color);
    color: var(--primary-color);
    font: var(--font-m);
}

.content-page {
    display: flex;
}

*::-webkit-scrollbar {
    width: 12px;               /* scrollbar width */
    height: 8px;
}

*::-webkit-scrollbar-track {
    background: var(--bg-color);      /* track color */
}

*::-webkit-scrollbar-thumb {
    border: 2px solid var(--bg-color-secondary);  /* padding around thumb */
    border-radius: 20px;       /* thumb border radius */
    background-color: var(--bg-color-secondary);    /* thumb color */
}

.app *::-webkit-scrollbar {
    width: 12px;               /* scrollbar width */
    height: 8px;
}

.app *::-webkit-scrollbar-track {
    background: var(--bg-color);        /* track color */
}

.app *::-webkit-scrollbar-thumb {
    border: 2px solid var(--bg-color-secondary);  /* padding around thumb */
    border-radius: 20px;       /* thumb border radius */
    background-color: var(--bg-color-secondary);    /* thumb color */
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip-path: inset(50%);
    clip: rect(0 0 0 0);
    white-space: nowrap;
  }

