.icon{
      fill: var(--color-accent);
      stroke: var(--color-accent);
      transition-property: all;
      transition-duration: var(--transition-duration);
      transition-timing-function: var(--transition-timing-function);
  
  }

  .span{
    font-weight: var(--font-weight-semi-bold);
    transition-property: all;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
  }

  .container{
    &:hover .span {
      color: var(--color-accent);
    }
  }
  
  
  
  