.Button {
    padding: 6px 15px;
    color: var(--primary-color);
    cursor: pointer;

    &:hover {
        opacity: 0.9;
        fill-opacity: 0.9;
        stroke-opacity: 0.9;
    }

    &.withAddon {
        display: flex;
        align-items: center;
        padding: 0 16px;
        gap: 8px;
    }
    
    &.addonLeft, .addonRight {
        display: flex;
    }
}

.clear {
    padding: 0;
    border: none;
    background: none;
    outline: none;
}

.outline {
    border: 2px solid var(--color-accent);
    border-radius: 8px;
    background: none;
    color: var(--primary-color);
    transition-property: all;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);

    &:hover {
        background: var(--color-accent);
        color: var(--color-white);
    }

    &.normal {
        border-color: var(--color-accent);
    }

    &.error {
        border-color: var(--color-signal-negative-default);

        &:hover {
            background: var(--color-signal-negative-default);
        }
    }

    &.success {
        border-color: var(--color-signal-positive-default);

        &:hover {
            background: var(--color-signal-positive-default);
        }
    }
}

.filled {
    border: none;
    border-radius: 8px;
    background: var(--color-accent);
    color: var(--color-white);
    transition-property: all;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);

    &.error {
        background: var(--color-signal-negative-default);
    }

    &.success {
        background: var(--color-signal-positive-default);
    }

}

.square {
    padding: 0;

    &.m {
        width: var(--font-line-m);
        height: var(--font-line-m);
    }

    &.l {
        width: var(--font-line-l);
        height: var(--font-line-l);
    }

    &.xl {
        width: var(--font-line-xl);
        height: var(--font-line-xl);
    }
}

.m {
    font: var(--font-m);
}

.l {
    font: var(--font-l);
}

.xl {
    font: var(--font-xl);
}

.disabled {
    opacity: 0.5;
}

.fullWidth {
    width: 100%;
}


