.icon{
  fill: var(--bg-color-secondary);
  stroke: var(--color-accent);
  transition-property: all;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);

    &.isLiked{
      fill: var(--color-accent);
    }
}

.span{
  font-weight: var(--font-weight-semi-bold);
  transition-property: all;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.container{
  cursor: pointer;

  &:hover .icon {
    transform: scale(1.1) rotate(-10deg);
  }

  &:hover .span {
    color: var(--color-accent);
  }
}



