.icon{
  border-radius: 0%;
  fill: var(--bg-color-secondary);
  stroke: var(--color-accent);
  transition-property: all;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);

}

.span{
  font-weight: var(--font-weight-semi-bold);
  transition-property: all;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}




