:root {
    --font-family-main: var(--font-montserrat), sans-serif;
    --font-family-header: 'Roboto', sans-serif;

    // s
    --font-size-s: 12px;
    --font-line-s: 20px;
    --font-s: var(--font-size-s) / var(--font-line-s) var(--font-family-main);

    // m
    --font-size-m: 16px;
    --font-line-m: 24px;
    --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);

    // l
    --font-size-l: 24px;
    --font-line-l: 32px;
    --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);

    // xl
    --font-size-xl: 32px;
    --font-line-xl: 40px;
    --font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family-main);

    // font-weights
    --font-weight-normal: normal;
    --font-weight-bold: bold;
    --font-weight-light: light;
    --font-weight-extra-light: 300;
    --font-weight-semi-light: 400;
    --font-weight-medium: 500;
    --font-weight-semi-bold: 600;

    // Sizes
    --navbar-height: 65px;
    --sidebar-width: 300px;
    --sidebar-width-collapsed: 80px;

    // Paddings

    --padding-1: 5px;
--padding-2: 10px;
--padding-3: 15px;
--padding-4: 20px;
--padding-5: 25px;
--padding-6: 30px;
--padding-7: 35px;
--padding-8: 40px;

    // Border Radius
    --border-small: 2px solid #2F9FF8;
    --border-medium: 10px;
    --border-big: 20px;

    // Index
    --modal-z-index: 1000;
    --overlay-z-index: 100;
    --popups-z-index: 10000;

    // Colors
    --color-accent: #2F9FF8;
    --color-blue-light: #a8cff0;
    --color-blue-lighter: #448ac4;
    --color-blue-dark: #0768B5;
    --color-yellow-default: rgb(250 238 65);
    --color-accent-opacity: rgba(47 159 248 / 10%);
    --color-white: #fff;
    --color-signal-positive-default: #6CD98B;
    --color-signal-positive-dark: #2cb63a;
    --color-signal-positive-darkest: #0e6817;
    --color-signal-negative-default: #D95757;
    --color-signal-negative-dark: rgb(221 53 64);
    --color-signal-negative-darkest: #92060f;
    --color-light: #F4F9F8;
    --color-dark: #161617;
    --color-gray: #e2e2fa;

    // Transitions
    --transition-duration: 350ms;
    --transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
