.Icon {
    border-radius: 50%;
    transition-property: all;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);

    &.isHover:hover{
        background: var(--color-blue-light);
    }

}

.iconColor{
    fill: var(--color-accent);
     stroke: var(--color-accent);
}

.span{
    margin-left: 10px;
}