.Icon {
    transition-property: all;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
    &.isHover:hover{
        border-radius: 50%;
        background: var(--color-blue-light);
    }
    // stroke: var(--color-accent);
}

.iconColor{
    fill: var(--color-accent);
     stroke: var(--color-accent);
}

.span{
    margin-left: 10px;
}