.app_dark_theme{
    --bg-color: #161617;
    --bg-color-secondary: #212124;
    --bg-popups: rgba(33 33 36 / 90%);
    --primary-color: #fff;
    --secondary-color: rgb(255 255 255 / 40%);

      // modal
      --modal-bg-color: #161617;

    // skeleton
    --skeleton-color: #161617;
    --skeleton-shadow: inset 0 -1px 0 0 rgb(0 0 0 / 6%), 0 2px 4px 0 rgb(0 0 0 / 8%);

}
