:root {
    --bg-color: #F4F9F8;
    --bg-color-secondary: #ebebee;
    --bg-popups: rgba(235 235 238 / 90%);
    --primary-color: #072D4B;
    --secondary-color: rgb(7 45 75 / 40%);

    // modal
    --modal-bg-color: #ebebee;
    --modal-overlay: rgb(0 0 0 / 50%);

    // skeleton
    --skeleton-color: #ebebee;
    --skeleton-shadow: inset 0 -1px 0 0 rgb(0 0 0 / 6%), 0 2px 4px 0 rgb(0 0 0 / 8%);

}