.label {
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: var(--font-weight-semi-bold);
    gap: 0.5rem;
  }
  
  .checkIcon {
    display: inline-block;
    border: var(--border-small);
    border-radius: 4px;
    color: transparent;
    cursor: pointer;
    outline: none;
    transition-property: all;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
  
    &:hover, &:focus {
      background-color: var(--color-blue-light);
    }
  
    &.disabled {
      border-color: var(--color-gray);
    }
  }
  
  .checkBox {
    &:checked + .checkIcon {
      fill: var(--color-accent);
    }
  
    &:focus + .checkIcon {
      border-color: var(--color-accent);
      background-color: var(--color-blue-light);
    }
  }